* text eol=lf
*.tgz binary
*.png binary
*.tiff binary
*.key binary
*.exe binary
*.dmg binary
*.zip binary
*.pdf binary
*.bat binary
*.ai binary
*.ico binary
*.fdd binary
*.nsi.in binary
*.windows.in binary
tests/test*.ok -text
tests/error.scm -text
