**/*.html
**/*.tgz
**/*.tar
**/*.tar.*
**/.stamp
toolshed/adorn/adorn.o*
html/
html-modules/
tests/
procedures/a/
toolshed/*.css
toolshed/*.html
toolshed/examples/*.html
toolshed/macros+vars.txi
toolshed/scm-to-html
GNUmakefile
Makefile
gambit*.html
gambit*.txt
gambit.epub
gambit.txi
gambit-spans.txi
gambit.info
