html-pristine/
html-parens/
html-css/
html-css-parens/
html-css-color/
html-css-color-parens/
html/
tests/
procedures/c/
**/.stamp
toolshed/c/
toolshed/colorize.sed
toolshed/gambit.css
toolshed/today.txi
*.tgz
*.tar.*
GNUmakefile
Makefile
gambit*.html
gambit*.txt
gambit.epub
gambit-spans.txi
gambit.info
gcs*.html
