name: Gambit

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  windows-mingw:
    name: "windows - ${{ matrix.msystem }}"
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - msystem: "MINGW64"
            arch: "x86_64"
          - msystem: "MINGW32"
            arch: "i686"

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Checkout history and tags

    - name: Install MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: "autoconf git make tar texinfo mingw-w64-${{ matrix.arch }}-gcc mingw-w64-${{ matrix.arch }}-make mingw-w64-${{ matrix.arch }}-libwinpthread-git tmate"
        msystem: ${{ matrix.msystem }}

    - name: Build
      run: |
        ./configure --enable-c-opt=-O0 --enable-c-opt-rts=-O0 --enable-debug --enable-debug-c-backtrace --enable-multiple-threaded-vms
        echo "#undef HAVE_CLOCK_GETTIME" >> include/config.h
        make clean
        make -j`nproc` core

    # Only run tests for MinGW64 for now
    - name: Test
      if: ${{ matrix.msystem == 'MINGW64' }}
      run: make check

    - name: Build Gambit for Use
      if: github.event_name == 'push'
      run: |
        mkdir dist
        ./configure --enable-gambitdir=~~execdir/.. --prefix=$(pwd)/dist
        echo "#undef HAVE_CLOCK_GETTIME" >> include/config.h
        make clean
        make -j`nproc` core
        make modules
        make install

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v1
      if: github.event_name == 'push'
      with:
        name: gambit-win-mingw-${{ matrix.arch }}
        path: dist/

    - name: Build Gambit for Use (--enable-multiple-threaded-vms)
      if: github.event_name == 'push'
      run: |
        mkdir dist-mt
        ./configure --enable-multiple-threaded-vms --enable-gambitdir=~~execdir/.. --prefix=$(pwd)/dist-mt
        echo "#undef HAVE_CLOCK_GETTIME" >> include/config.h
        make clean
        make -j`nproc` core
        make modules
        make install

    - name: Upload Build Artifact (--enable-multiple-threaded-vms)
      uses: actions/upload-artifact@v1
      if: github.event_name == 'push'
      with:
        name: gambit-win-mingw-${{ matrix.arch }}-mt
        path: dist-mt/

    - name: Debug with tmate on failure
      run: |
        : tmate -F -k ${{ secrets.TMATE_API_KEY }} -n ${{ secrets.TMATE_SESSION_PREFIX }}-${{ matrix.msystem }} > /dev/null 2>&1
      if: failure() && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)

    - name: Report Failure to Gitter
      run: curl -XPOST -d '{"msgtype":"m.text", "body":"CI build of ${{ github.sha }} failed on ${{ github.job }} (https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})"}' "https://matrix.org/_matrix/client/r0/rooms/${{ secrets.GITTER_ROOM }}/send/m.room.message?access_token=${{ secrets.GITTER_ACCESS_TOKEN }}"
      if: failure() && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)

  windows-msvc:
    name: "windows - MSVC"
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Checkout history and tags

    - name: Install MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Install MSYS2
      uses: msys2/setup-msys2@v2
      with:
        update: true
        install: "autoconf make patch tar texinfo tmate"
        path-type: inherit
        msystem: MSYS

    - name: Build
      shell: cmd
      run: |
        set PATH=%RUNNER_TEMP%\msys\msys64\usr\bin;%PATH%
        msys2 -c "./configure --enable-c-opt=-Od --enable-c-opt-rts=-Od --enable-debug --enable-debug-c-backtrace CC='cl' && make clean && make -j%NUMBER_OF_PROCESSORS% core"

    - name: Test
      shell: cmd
      run: |
        msys2 -c "make check"

    - name: Build vstudio.bat
      shell: cmd
      if: github.event_name == 'push'
      run: |
        msys2 -c "make clean"
        call misc\vstudio.bat
        cd tests
        ..\gsc\gsc -f -warnings -c -nb-gvm-regs 5 -nb-arg-regs 3 mix.scm
        echo n | comp mix.c test5.ok

    - name: Build Gambit for Use
      shell: cmd
      if: github.event_name == 'push'
      run: |
        mkdir dist
        msys2 -c "./configure --enable-single-host --enable-gambitdir=~~execdir/.. --prefix=$(pwd)/dist CC='cl' && make clean && make -j%NUMBER_OF_PROCESSORS% core && make modules && make install"

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v1
      if: github.event_name == 'push'
      with:
        name: gambit-win-msvc-x86_64
        path: dist/

    - name: Build Gambit for Use (--enable-multiple-threaded-vms)
      shell: cmd
      if: github.event_name == 'push'
      run: |
        mkdir dist-mt
        msys2 -c "./configure --enable-single-host --enable-multiple-threaded-vms --enable-gambitdir=~~execdir/.. --prefix=$(pwd)/dist-mt CC='cl' && make clean && make -j%NUMBER_OF_PROCESSORS% core && make modules && make install"

    - name: Upload Build Artifact (--enable-multiple-threaded-vms)
      uses: actions/upload-artifact@v1
      if: github.event_name == 'push'
      with:
        name: gambit-win-msvc-x86_64-mt
        path: dist-mt/

    - name: Debug with tmate on failure
      run: |
        msys2 -c ": tmate -F -k ${{ secrets.TMATE_API_KEY }} -n ${{ secrets.TMATE_SESSION_PREFIX }}-MSVC > /dev/null 2>&1"
      if: failure() && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)

    - name: Report Failure to Gitter
      run: curl -XPOST -d '{"msgtype":"m.text", "body":"CI build of ${{ github.sha }} failed on ${{ github.job }} (https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})"}' "https://matrix.org/_matrix/client/r0/rooms/${{ secrets.GITTER_ROOM }}/send/m.room.message?access_token=${{ secrets.GITTER_ACCESS_TOKEN }}"
      if: failure() && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)

  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Checkout history and tags

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install texinfo

    - name: Build and Test with C compiler
      run: |
        export PROCS=`nproc`
        ./configure --enable-c-opt=-O0 --enable-c-opt-rts=-O0 --enable-debug --enable-debug-c-backtrace --enable-multiple-threaded-vms && make clean && make -j$PROCS core && make check

    - name: Build and Test with C++ compiler
      if: github.event_name == 'push'
      run: |
        export PROCS=`nproc`
        ./configure --enable-c-opt=-O0 --enable-c-opt-rts=-O0 --enable-debug --enable-debug-c-backtrace --enable-multiple-threaded-vms --enable-cplusplus && make clean && make -j$PROCS core && make check

    - name: Build and Test with C compiler and --enable-ansi-c
      if: github.event_name == 'push'
      run: |
        export PROCS=`nproc`
        ./configure --enable-c-opt=-O0 --enable-c-opt-rts=-O0 --enable-ansi-c && make clean && make -j$PROCS core && (cd tests; make test1) && (cd tests; make test2) && (cd tests; make test3) && (cd tests; make test4) && (cd tests; make test5)

    - name: Build Gambit for Use
      if: github.event_name == 'push'
      run: |
        mkdir dist
        ./configure --enable-single-host --enable-gambitdir=~~execdir/.. --prefix=$(pwd)/dist && make clean && make -j`nproc` core && make modules && make install
        cd dist/
        tar -cvzf ../gambit-linux-x86_64.tgz ./
        cd ..

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v1
      if: github.event_name == 'push'
      with:
        name: gambit-linux-x86_64
        path: gambit-linux-x86_64.tgz

    - name: Build Gambit for Use (--enable-multiple-threaded-vms)
      if: github.event_name == 'push'
      run: |
        mkdir dist-mt
        ./configure --enable-single-host --enable-multiple-threaded-vms --enable-gambitdir=~~execdir/.. --prefix=$(pwd)/dist-mt && make clean && make -j`nproc` core && make modules && make install
        cd dist-mt/
        tar -cvzf ../gambit-linux-x86_64-mt.tgz ./
        cd ..

    - name: Upload Build Artifact (--enable-multiple-threaded-vms)
      uses: actions/upload-artifact@v1
      if: github.event_name == 'push'
      with:
        name: gambit-linux-x86_64-mt
        path: gambit-linux-x86_64-mt.tgz

    - name: Package Source
      run: make dist-boot

    - name: Upload Source
      uses: actions/upload-artifact@v1
      with:
        name: boot
        path: boot.tgz

    - name: Debug with tmate on failure
      run: |
        sudo apt-get install tmate
        tmate -F -k ${{ secrets.TMATE_API_KEY }} -n ${{ secrets.TMATE_SESSION_PREFIX }}-linux > /dev/null 2>&1
      if: failure() && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)

    - name: Report Failure to Gitter
      run: curl -XPOST -d '{"msgtype":"m.text", "body":"CI build of ${{ github.sha }} failed on ${{ github.job }} (https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})"}' "https://matrix.org/_matrix/client/r0/rooms/${{ secrets.GITTER_ROOM }}/send/m.room.message?access_token=${{ secrets.GITTER_ACCESS_TOKEN }}"
      if: failure() && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)

  macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 # Checkout history and tags

    - name: Build and Test with C compiler
      run: |
        export CC=gcc-11
        export CXX=g++-11
        export PROCS=`sysctl -n hw.physicalcpu`
        ./configure --enable-c-opt=-O0 --enable-c-opt-rts=-O0 --enable-debug --enable-debug-c-backtrace --enable-multiple-threaded-vms && make clean && make -j$PROCS core && make check

    - name: Build and Test with C++ compiler
      if: github.event_name == 'push'
      run: |
        export CC=gcc-11
        export CXX=g++-11
        export PROCS=`sysctl -n hw.physicalcpu`
        ./configure --enable-c-opt=-O0 --enable-c-opt-rts=-O0 --enable-debug --enable-debug-c-backtrace --enable-multiple-threaded-vms --enable-cplusplus && make clean && make -j$PROCS core && make check

    - name: Build and Test with C compiler and --enable-ansi-c
      if: github.event_name == 'push'
      run: |
        export CC=gcc-11
        export CXX=g++-11
        export PROCS=`sysctl -n hw.physicalcpu`
        ./configure --enable-c-opt=-O0 --enable-c-opt-rts=-O0 --enable-ansi-c && make clean && make -j$PROCS core && (cd tests; make test1) && (cd tests; make test2) && (cd tests; make test3) && (cd tests; make test4) && (cd tests; make test5)

    - name: Build Gambit for Use
      if: github.event_name == 'push'
      run: |
        mkdir dist
        export CC=gcc-11
        export CXX=g++-11
        ./configure --enable-single-host --enable-gambitdir=~~execdir/.. --prefix=$(pwd)/dist && make clean && make -j`sysctl -n hw.physicalcpu` core && make modules && make install
        cd dist/
        tar -cvzf ../gambit-macos-x86_64.tgz ./
        cd ..

    - name: Upload Artifact
      uses: actions/upload-artifact@v1
      if: github.event_name == 'push'
      with:
        name: gambit-macos-x86_64
        path: gambit-macos-x86_64.tgz

    - name: Build Gambit for Use (--enable-multiple-threaded-vms)
      if: github.event_name == 'push'
      run: |
        mkdir dist-mt
        export CC=gcc-11
        export CXX=g++-11
        ./configure --enable-single-host --enable-multiple-threaded-vms --enable-gambitdir=~~execdir/.. --prefix=$(pwd)/dist-mt && make clean && make -j`sysctl -n hw.physicalcpu` core && make modules && make install
        cd dist-mt/
        tar -cvzf ../gambit-macos-x86_64-mt.tgz ./
        cd ..

    - name: Upload Artifact (--enable-multiple-threaded-vms)
      uses: actions/upload-artifact@v1
      if: github.event_name == 'push'
      with:
        name: gambit-macos-x86_64-mt
        path: gambit-macos-x86_64-mt.tgz

    - name: Debug with tmate on failure
      run: |
        brew install tmate
        : tmate -F -k ${{ secrets.TMATE_API_KEY }} -n ${{ secrets.TMATE_SESSION_PREFIX }}-macos > /dev/null 2>&1
      if: failure() && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)

    - name: Report Failure to Gitter
      run: curl -XPOST -d '{"msgtype":"m.text", "body":"CI build of ${{ github.sha }} failed on ${{ github.job }} (https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})"}' "https://matrix.org/_matrix/client/r0/rooms/${{ secrets.GITTER_ROOM }}/send/m.room.message?access_token=${{ secrets.GITTER_ACCESS_TOKEN }}"
      if: failure() && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)

  ReportResult:
    runs-on: ubuntu-latest
    needs: [windows-mingw, windows-msvc, linux, macos]
    if: ${{ success() }}

    steps:
    - name: Report Success
      run: curl -XPOST -d '{"msgtype":"m.text", "body":"CI build of ${{ github.sha }} succeeded"}' "https://matrix.org/_matrix/client/r0/rooms/${{ secrets.GITTER_ROOM }}/send/m.room.message?access_token=${{ secrets.GITTER_ACCESS_TOKEN }}"
      if: success() && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository)
